
:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --fuente-principal:3.8rem;
    --fuente-secundaria:2rem;
} /*cuando empieza con : son pseudo selectores. No existe la etiqueta root en html pero se pueden almacenar variables*/
html{

    font-size: 62.5%; /*reinicia los valores para utilizar facilmente los rem*/
}
body{
    font-size: 16px; /*reinicia los valores para utilizar facilmente los rem*/
    font-family: "Krub", sans-serif;
}

h1{
    text-align: center;
    font-size: var(--fuente-principal); /*definido en root*/
    
      
}
span{

    font-size: var(--fuente-secundaria);/*1rem = 10px el rem se adapta mejor a los distintos tipos de pantalla*/
}
.navegacionPrincipal{

    display: flex; /*hay que ponerlo en el padre(acá)para poder usar sus propiedades justified-content*/
    flex-direction:row;/*no hace falta agregarlo porque es el que viene por defecto*/ 
    justify-content: space-between;
    
    
    
}
.navegacionPrincipal a{ /*los a dentro del nav(especificidad)*/
    
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    
    
}
.navegacionPrincipal a:hover{ 
/*es un pseudo selector por eso los : y el hover es lo que hace que cambie de color cuando 
te posicionas con el mouse en el enlace*/
 background-color: var(--primario);   
 color: var(--oscuro);
}
.contenedor{
    
    width: 90rem;
    margin: 0 auto;
    
}
.nav-bg{
    
    background-color: var(--secundario);

}


